@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Monoton&family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    cursor: none;
    overflow: hidden;
}

.banana-curse{
    position: absolute;
    transform:translate(-50%,-50%);
    pointer-events: none;
    /* box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #0000, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
    box-sizing: border-box;
}

.trail{
    position: absolute;
    opacity: .85;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    box-sizing: border-box;
    z-index: 1000;
}

#banana2{
    transition: 0.05s;
}

#banana3{
    transition: 0.1s;
}

#banana4{
    transition: 0.15s;
}

#banana5{
    transition: 0.2s;
}

#banana6{
    transition: 0.25s;
}




.body{
    width: 100vw;
    height: 100vh;
    align-content: center;
    /* align-items: space-around;
    display: grid;
    justify-content: center; */
    /* background-image: url('Assets/banana\ split\ site\ background.png split\ site\ background.png'); */
}

.showcase nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #83220c;
    z-index: 1;
}

.showcase .name{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
    /* row-gap: 1rem; */
}

.showcase h4{
    font-family: oscine, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.25rem;
    color: white;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.showcase .banana{
    top: 50%;
    left: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    /* margin: auto; */
    /* transform: translate(-50%, -50%); */
}

.showcase .links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

a{
    margin: 5px;
}

.showcase .eat{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -100;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 0;
    /* padding: 2px; */
    /* margin-top: 2px; */
}

.folder{
    position: absolute;
    margin: 0;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

h3{
    font-family: oscine, Tahoma;
    color: white;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px #000000;
}

.border{
    border: 2px solid #e9c576;
    border-radius: 5px;
}

#process-folder{
    object-fit: none;
    right: 300px;
    top: 10rem;    
    /* border-color: #e9c576; */

}



#promo-folder{
    right: 170px;
    top: 400px;
}

#mv-folder{
    top:20rem;
    left: 100px;
    
}

.iteration-files{
    /* position: absolute; */
    display: flex;
}

.file img{
    transform: scale(.2);
}

/* pertaining to all folders */

.container{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 500px;
    background-color: #e9c576;
    box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #0000, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

.nav{
    position: fixed;
    /* /* width: 40px; */
    left:4px;
    top:4px; 
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor:pointer;
}

.close{
    border-style: solid;
    border-color: rgb(131, 34, 12);
    width: 20px;
    height: 20px;
    background-color: rgb(131, 34, 12);
    text-align: center;
    margin: 0;

}

.popUp{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    /* height: 500px; */
    background-color:  #e9c576;
    box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #0000, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.popUp h2{
    position: relative;
    font-family: lisbeth-display, sans-serif;
    font-weight: 700; 
    font-size: 100px;
    text-align: center;
}

.blueScreen{
    position:fixed;
    background-color: #9DB5F3;
    width:100vw;
    height: 100vh;
    opacity: 75%;
    z-index: 2;
  
  }


/* toggle properties */
.hidden{
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
  }